/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container */
.container {
    width: 95%;
    max-width: 1200px;
    background: #1E1E1E;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    transition: background 0.3s ease, color 0.3s ease;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    color: #E0E0E0;
    font-size: 24px;
}

.theme-switcher,
.view-switcher {
    cursor: pointer;
    background: #333;
    border: none;
    color: #E0E0E0;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.theme-switcher:hover,
.view-switcher:hover {
    background: #444;
    transform: scale(1.05);
}

/* File List and Card Styles */
.file-list,
.file-cards {
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.file-item, .file-item-perent, .file-item-document {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.file-item{
    background: #2C2C2C;
}

.file-item:hover, .file-item-perent:hover, .file-item-document:hover{
    background: #383838;
    transform: translateY(-5px);
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.5);
}
.file-item-perent:hover{
    background: #ff8c00;;
}
.file-item-document:hover{
    background: #3978ffc7;
}

.file-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.file-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}

.file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    word-wrap: break-word;
    text-decoration: none;
    color: #E0E0E0;
    font-size: 18px;
    transition: color 0.3s ease;
}

.file-name a {
    color: inherit;
    text-decoration: none;
}

.file-name a:visited {
    color: inherit;
}

.file-name a:hover {
    text-decoration: none;
    color: #FFD700;
}

.download-button {
    position: absolute;
    top: 13px;
    right: 12px;
    height: 42px; 
    width: auto;
    background-color: #007bff;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.download-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Styles for List View */
.list-view {
    grid-template-columns: 1fr;
}

.list-view .file-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.list-view .file-icon {
    margin-right: 20px;
    margin-bottom: 0;
}

.list-view .file-name {
    flex: 1;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Light Theme */
body.light {
    background-color: #f0f0f0;
    color: #333;
}

body.light .container {
    background: #fff;
    color: #333;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

body.light .file-item {
    background: #f9f9f9;
}

body.light .file-item:hover {
    background: #e9e9e9;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

body.light .file-name {
    color: #333;
}

body.light .file-name a {
    color: inherit;
    text-decoration: none;
}

body.light .file-name a:hover {
    color: #007bff;
}

body.light .theme-switcher,
body.light .view-switcher {
    background: #ddd;
    color: #333;
}

body.light .theme-switcher:hover,
body.light .view-switcher:hover {
    background: #ccc;
    transform: scale(1.05);
}

/* Media Query for Mobile */
@media (max-width: 600px) {
    .header h1 {
        font-size: 18px;
    }

    .file-item {
        padding: 10px;
        font-size: 14px;
    }

    .file-icon {
        width: 36px;
        height: 36px;
    }

    .file-name {
        font-size: 14px;
    }

    .download-button {
        font-size: 12px;
        padding: 6px 12px;
    }
}
